.footer{
    padding: 4rem 6rem;
    background: #023d3d;
    color: #ffffff;
    margin-top: 120px;
    width: 90%;
}
.top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.web-name {
    margin-left: -60px;
}
.top i{
    color: #ffffff;
    font-size: 3rem;
    margin-left: 1rem;
}
.top i:hover {
    color: #01959a;
}
.bottom {
    padding-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
    color: #9bedf0;
}
.bottom a{
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}
.last-bottom h2{
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    font-size: 1rem;
}
@media screen and (max-width:850px){
    .footer {
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div {
        width: 50%;
    } 
}